<form action="/square_new/results" method="get">

    <div>
     <label for="square_results"> Enter a number: </label> 

     <input id="square_results" type="text" name="users_number"> 
   </div>
<button>Calculate Square </button> 
</form> 
<form action="/square_new/results" method="get"> 

  <div>
    <label for="square_results"> Enter a number: </label>
